@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.gray {
  color: #b6bcc8;
}

.gap-4 {
  gap: 4em;
}

.gap-1 {
  gap: 1em;
}

body {
  color: black;
}

#nav {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #b6bcc8;
}

#burger {
  display: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nav-links {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

.nav-links a {
  position: relative;
  display: block;
  text-decoration: none;
  padding: 2em 0;
  color: #68707d;
  font-size: 1.125rem;
}

.nav-links a:hover,
.nav-links a:focus {
  color: black;
}

.nav-links a:hover::after,
.nav-links a:focus::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff7d1a;
}

.cart-img {
  -ms-flex-preferred-size: 5.6em;
      flex-basis: 5.6em;
  cursor: pointer;
  padding: 1.4em;
}

.cart-box:hover .cart {
  visibility: visible;
}

.cart {
  font-size: 0.7rem;
  width: 100%;
  max-width: 20em;
  background-color: white;
  border-radius: 0.5em;
  position: absolute;
  margin-left: -12em;
  visibility: hidden;
  -webkit-box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.137);
          box-shadow: 0px 10px 10px 5px rgba(0, 0, 0, 0.137);
}

.cart .title {
  padding: 1em;
  border-bottom: 1px solid #b6bcc8;
}

.cart .cart-items {
  min-height: 12em;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.cart .cart-items .empty {
  text-align: center;
}

.profile-img {
  border-radius: 100vw;
  max-width: 3em;
  cursor: pointer;
}

.profile-img:hover,
.profile-img:focus {
  outline: 2px solid #ff7d1a;
}

#main {
  width: 100%;
  max-width: 1440px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5em 0;
  padding: 0 2em;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10vw;
}

.product > * {
  max-width: 30em;
}

.product-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -ms-grid;
  display: grid;
  gap: 2em;
}

.product-producer {
  color: #ff7d1a;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.product-title {
  font-size: 3rem;
}

.product-desc {
  color: #68707d;
  line-height: 1.6em;
}

.price {
  font-size: 1.5rem;
}

.price .sale {
  color: #ff7d1a;
  background-color: #ffede0;
  font-size: 0.9rem;
  padding: 0.2em 0.6em;
  border-radius: 0.5em;
  vertical-align: top;
}

.old-price {
  color: #b6bcc8;
  text-decoration: line-through;
  font-weight: 700;
  font-size: 0.9rem;
}

.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1em;
}

.amount-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f7f8fd;
  border-radius: 0.5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.amount-control .minus,
.amount-control .plus {
  min-width: 2.5em;
  display: block;
  padding: 0.8em;
  cursor: pointer;
}

.amount-control .minus:hover,
.amount-control .plus:hover {
  opacity: 0.6;
}

.amount-control .amount {
  padding: 0 1.4em;
}

.add-item-btn {
  background-color: #ff7d1a;
  border-radius: 0.75em;
  border: none;
  color: white;
  padding: 1em 5em;
  font-size: 1rem;
  cursor: pointer;
  -webkit-box-shadow: 0px 12px 40px -12px #ff7d1a;
          box-shadow: 0px 12px 40px -12px #ff7d1a;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.add-item-btn:hover {
  opacity: 0.7;
}

.add-item-btn img {
  margin-right: 0.8em;
  display: inline;
  -webkit-filter: brightness(5);
          filter: brightness(5);
  max-width: 1em;
}

.product-gallery {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.product-gallery img {
  border-radius: 0.8em;
}

.thumbnails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2em;
  overflow: none;
}

.thumbnails .selected-thumb {
  border-radius: 0.8em;
  border: 2px solid #ff7d1a;
}

.thumbnails .selected-thumb img {
  opacity: 0.2;
}

.thumbnails img {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
}

.thumbnails img:hover {
  opacity: 0.5;
}

@media screen and (max-width: 50em) {
  #nav {
    padding: 0 1em;
    gap: 0;
  }
  .wrapper {
    gap: 1em;
  }
  #burger {
    display: block;
  }
  #main {
    margin: 0 0 5em 0;
    padding: 0;
  }
  .product {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2em;
  }
  .product-gallery {
    max-width: 100%;
  }
  .product-gallery img {
    border-radius: 0;
  }
  .product-gallery .thumbnails {
    display: none;
  }
  .product-info {
    width: 100%;
    max-width: 90%;
  }
  .product-info > * {
    max-width: 100%;
  }
  .price-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1440px) {
  #nav {
    padding: 0 1.5em;
  }
}
/*# sourceMappingURL=main.css.map */