@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

body {
	min-height: 100vh;
	width: 100%;
	font-family: "Kumbh Sans", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
}

a,input {
	font-family: inherit;
}

img {
	max-width: 100%;
	display: block;
}
